@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: 'Clash Grotesk', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.btn-h{
  transition: .5s;
}
.banner{
  background-image: url(./assets/Group\ 47281.png);
  background-position: inherit;
  background-size: 100%;
  background-repeat: no-repeat;
}
.underline-box{
  margin-right: 415px;
  margin-top: -25px;
}

.banner-footer{
  background-image: url(./assets/footer.png);
}
.About-banner{
  background: linear-gradient(181.91deg, #121212 89.35%, #195399 1.61%);
  
}







